body {
  font-family: poppins;
  max-width: 1280px;
  margin: auto;
  background-color: #181824;
  color: white;
}
.txtprp {
  color: #7562e0;
}
a.txtprp:hover {
  color: aqua;
}
.maxwidth {
  max-width: 1000px;
}

header {
  background-color: #1a1a29;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav > ul {
  display: flex;
  gap: 18px;
  font-weight: 500;
  font-size: larger;
}
ul > a {
  text-decoration: none;
  color: white;
}
ul > a:hover {
  color: #7562e0;
}

#Home {
  display: flex;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 70px;
}
#Home > div {
  flex-basis: 50%;
}
.btn {
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.btn-contained {
  background-color: #7562e0;
  border: 2px solid #7562e0;
  color: white;
}
.btn-outlined {
  border: 2px solid #7562e0;
  color: white;
}

.img {
  border-radius: 30%;
  margin: auto;
  margin-right: 50px;
}
.imgc {
  display: flex;
  margin: auto;
}
#btn {
  display: flex;
  gap: 20px;
}
#hello {
  font-weight: 400;
}
.btn-contained:hover {
  background-color: white;
  color: #7562e0;
}
.btn-outlined:hover {
  color: #7562e0;
}
#Aboutme {
  display: block;
  margin: auto;
}
.separation {
  background-color: #1a1a29;
  min-height: 100px;
}
.title {
  font-size: 1.8em;
  font-weight: 500;
}
.equal {
  display: flex;
  align-items: center;
}
#Aboutme h4 {
  font-size: 5em;
  display: inline;
  margin-top: 0%;
  margin-bottom: 0%;
}
.exp {
  display: inline;
  font-size: 1.4em;
}
.cards {
  display: flex;
  height: 240px;
  gap: 15px;
  padding-bottom: 10px;
}
.mdcard {
  background-color: #bdbdbd;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 10px;
  flex-grow: 1;
  flex-basis: 25%;
  margin-top: 30px;
  border-radius: 10px;
}
.mdcard:first-child {
  background-color: #7562e0;
}
.mdcard p {
  font-size: 1.2em;
  font-weight: 400;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  margin-bottom: 20px;
}
.card2 {
  display: flex;
  border: 3px solid #7562e0;
  border-radius: 15px;
  flex-direction: column;
  flex-basis: 28%;
  align-items: center;
  justify-content: baseline;
  justify-items: center;
  height: 300px;
  padding: 70px 0px 0px 0px;
  text-align: center;
}
.card2:nth-child(even) {
  border-color: #bdbdbd;
}
